service cloud.firestore {
  match /databases/{database}/documents {
    match /contents/{document=**} {
      allow read;
    }
    match /about/{document=**} {
      allow read;
    }
    match /talks/{document=**} {
      allow read;
    }
    match /faq/{document=**} {
      allow read;
    }
    match /menu/{document=**} {
      allow read;
    }
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
      allow read, update: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rights >= 2;
    }
    match /{document=**} {
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rights >= 2;
    }
  }
}