service cloud.firestore {
  match /databases/{database}/documents {
    match /contents/{document=**} {
      allow read;
    }
    match /about/{document=**} {
      allow read;
    }
    match /talks/{document=**} {
      allow read;
    }
    match /faq/{document=**} {
      allow read;
    }  
    match /{document=**} {
      allow read: if request.auth.uid != null;
      allow write: if get(/databases/$(database)/documents/users/$(request.auth.uid)).data.rights >= 2;
    }
  }
}