
<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <b>Future Talks</b>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p [innerHtml]="content?.text"> </p>
    </mat-expansion-panel>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>Vereinsstatuten Future Talks</b>
        </mat-panel-title>
        <mat-panel-description>
          Die Statuten
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>Name und Sitz <br />
        Unter dem Namen „Future Talks“ besteht ein Verein im Sinne von Art. 60 ff. ZGB mit Sitz in Bern. <br /><br />
        
        Zweck <br />
        Der Verein “Future Talks” wurde gegründet, um Wissensaustausch unter Mitgliedern und das aktive Auseinandersetzen mit aktuellen Technologien zu fördern. Mitglieder des Vereins sollen im Rahmen der “Future Talks” die Möglichkeit erhalten, in freier oder begleiteter Form ihre Erfahrungen auszutauschen und nach beliebigem Ermessen an gemeinsamen oder individuellen Projekten zu arbeiten.
        Während die Themen der Talks und praktischen Teile grösstenteils auf eine Zielgruppe mit Informatikkenntnissen ausgerichtet sind, besteht grundsätzlich keine Einschränkung im Bezug auf die Thematik oder Gestaltung der “Future Talks” und deren Mitglieder.<br /><br />
        
        Mittel <br />
        Zur Verfolgung des Vereinszweckes verfügt der Verein über die Beiträge der Mitglieder, welche halbjährlich vom Vorstand festgelegt werden. Die Abrechnung der Beiträge erfolgt halbjährlich (jedes Semester) und dient dazu die Kosten der Räumlichkeiten, Verpflegung und sonstige, vom Vorstand bewilligten Unkosten des Vereins zu decken.<br />
        Der Verein behält sich ausserdem vor, Zuwendungen aller Art zu akzeptieren, sofern die daran geknüpften Bedingungen nicht dem Zweck des Vereins widersprechen.<br /><br />
        
        Mitgliedschaft <br />
        Aktivmitglied mit Stimmberechtigung oder Passivmitglied ohne Stimmberechtigung kann jede natürliche und juristische Person werden, die ein Interesse am obig beschriebenen Vereinszweck hat.<br />
        Ein Passivmitglied unterstützt den Verein in erster Linie durch seinen Jahresbeitrag und/oder einer zusätzlichen freiwilligen Spende. Es darf sich aktiv ins Vereinsleben einbringen, ist jedoch nicht dazu verpflichtet. Aufnahmegesuche sind an den Präsidenten/die Präsidentin zur richten; über die Aufnahme entscheidet der Vorstand mit einem einfachen mehr.<br /><br />
        
        Erlöschen der Mitgliedschaft <br />
        Die Mitgliedschaft erlischt - bei natürlichen Personen durch Austritt, Ausschluss oder Tod - bei juristischen Personen durch Austritt, Ausschluss oder Auflösung. <br /><br />
        
        Austritt und Ausschluss<br />
        Ein Vereinsaustritt ist jederzeit auf mündlichem oder schriftlichem Weg per sofort möglich. Es besteht jedoch kein direkter Anspruch auf Rückerstattung der Mitgliederbeiträge. Ein Mitglied kann jederzeit ohne Grundangabe aus dem Verein ausgeschlossen werden. Der Vorstand fällt den Ausschlussentscheid; das Mitglied kann den Ausschlussentscheid an die Generalversammlung weiterziehen. <br /><br />
        
        
        
        Organe des Vereins <br />
        Die Organe des Vereins sind: <br />
        a) die Generalversammlung <br />
        b) der Vorstand <br />
        c) die Rechnungsrevisoren <br />
        <br />
        Die Generalversammlung <br />
        Das oberste Organ des Vereins ist die Generalversammlung. Eine ordentliche Generalversammlung findet jährlich im 2. Semester des Jahres statt. Zur Generalversammlung werden die Mitglieder mindestens zwei Wochen im voraus schriftlich eingeladen. Die Traktandenliste wird zu diesem Zeitpunkt zur offenen Konsultation gestellt und kann bis zum Ende der Generalversammlung beliebig korrigiert und ergänzt werden. Die Generalversammlung hat die folgenden unentziehbaren Aufgaben: <br />
        a) Wahl bzw. Abwahl des Vorstandes sowie der Rechnungsrevisoren <br />
        b) Festsetzung und Änderung der Statuten <br />
        c) Abnahme der Jahresrechung und des Revisorenberichtes <br />
        d) Beschluss über das Jahresbudget <br />
        e) Festsetzung des Mitgliederbeitrages <br />
        f) Behandlung der Ausschlussrekurse <br />
        An der Generalversammlung besitzt jedes Mitglied eine Stimme; die Beschlussfassung erfolgt mit einfachem Mehr. Passivmitglieder werden zur Generalversammlung eingeladen, besitzen jedoch kein Stimmrecht.<br /><br />
        
        Der Vorstand <br />
        Der Vorstand besteht aus mindestens drei Personen, wobei die folgenden Rollen gewährleistet werden müssen:<br />
        a) Präsident/In<br />
        b) Vize-Präsident/In<br />
        c) Finanzplaner/In<br />
        Diese Rollen werden spätestens an der jährlichen Generalversammlung neu gewählt, können aber jederzeit durch einen Mehrheitsbeschluss im Vorstand neu besetzt werden. Der Vorstand vertritt den Verein nach aussen und führt die laufenden Geschäfte.<br />
        
        Die Revisoren <br />
        Die Generalversammlung wählt jährlich mindestens einen Rechnungsrevisoren, welcher die Buchführung kontrolliert und mindestens einmal jährlich eine Stichkontrolle durchführt.<br /><br />
        
        Unterschrift <br />
        Der Verein wird verpflichtet durch die Kollektivunterschrift des Präsidenten zusammen mit einem weiteren Mitglied des Vorstandes. <br /><br />
        
        Haftung <br />
        Für die Schulden des Vereins haftet nur das Vereinsvermögen. Eine persönliche Haftung der Mitglieder ist ausgeschlossen. <br /><br />
        
        Statutenänderung <br />
        Die vorliegenden Statuten können abgeändert werden, wenn das einfache Mehr der anwesenden Vorstandsmitglieder dem Änderungsvorschlag zustimmen.<br /><br /> 
        
        
        Auflösung des Vereins <br />
        Die Auflösung des Vereins kann mit einer einfachen Mehrheit beschlossen werden, wenn drei Viertel aller Mitglieder an der Versammlung teilnehmen. Nehmen weniger als drei Viertel aller Mitglieder an der Versammlung teil, ist innerhalb von zwei Monaten eine zweite Versammlung abzuhalten. An dieser Versammlung kann der Verein auch dann mit einfacher Mehrheit aufgelöst werden, wenn weniger als drei Viertel der Mitglieder anwesend sind. Bei einer Auflösung des Vereins wird das Vereinsvermögen für einen Anlass investiert, der den Mitgliedern zugute kommt oder wird an die Mitglieder ausbezahlt.<br /><br /> 
        
        Inkrafttreten <br />
        Diese Statuten sind an der Gründungsversammlung vom 02.12.2018 angenommen worden und sind mit diesem Datum in Kraft getreten.<br /><br />
        </p>
    </mat-expansion-panel>
  </mat-accordion>
