

<p> Future Talks provides a platform to discuss and exchange knowledge about topics of today and the future.<br />
    While there are many meetups and groups targeted at specific user groups, we encourage a broader spectrum of topics, focusing computer scientists.<br />
    We usually meet on each first sunday of the month to learn from each others, co-create and hang out.<br />
    Previous sessions have already covered topics like AI, Blockchain, AR/VR, Cloud computing, JS Framworks and Libraries and there is more to come, stay tuned.</p>
   
<p> Seit dem 02.12.2018 ist "Future Talks" offiziell ein Verein.</p>

