
<mat-accordion>
    <mat-expansion-panel *ngFor="let u of users">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <b>{{u?.email}}</b>
        </mat-panel-title>
        <mat-panel-description>
          {{u?.id}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <b>Role:</b><br />
      <div *ngIf="u.rights==0">None</div>
      <div *ngIf="u.rights==1">Member</div>
      <div *ngIf="u.rights==2">Board Member</div>
      <div *ngIf="u.rights==3">Admin</div>
    </mat-expansion-panel>
  </mat-accordion>
  