<div class="background">
    <div class="header">
        <div class="logo">
            <h2>Future Talks</h2>
        </div>
        <nav class="menu">
            <a class="menuItem" routerLink="home" routerLinkActive="active">Home</a>
            <a class="menuItem" routerLink="about" routerLinkActive="active">About</a>
            <a class="menuItem" routerLink="projects" routerLinkActive="active">Projects</a>
        </nav>
    </div>
        
    <div class="body">
        <div class="container">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div> 
</div>
<div class="footer">
    
</div>

