<div class="boxContainer">
    <div class="boxGroup">
    <a routerLink="../about" routerLinkActive="active"> 
        <div class="box">
            <img class="boxImage" alt="Info" src="./assets/icons/info.svg" />
            <div class="boxTitle">About</div>
            <br />
            Learn more about the Future Talks, our philosophy and what we do
        </div>
    </a>

    <a target="_blank" rel="noopener" href="https://goo.gl/forms/DMG7YCx1T8ZXZzwt1"> 
        <div class="box">
            <img class="boxImage" alt="Members" src="./assets/icons/organization.svg" />
            <div class="boxTitle">Become a member</div>
            <br />
            Fill out the form for an easy access to all our projects
        </div>
    </a>
    </div>
    <div class="boxGroup">
    <a routerLink="../projects" routerLinkActive="active"> 
        <div class="box">
                <img class="boxImage" alt="Beaker" src="./assets/icons/beaker.svg" />
            <div class="boxTitle">Projects</div>
            <br />
            Information about our projects, our goals and progress
        </div>
    </a>

    <a target="_blank" rel="noopener" href="https://github.com/FutureTalks"> 
        <div class="box">
            <img class="boxImage" alt="Github" src="./assets/icons/mark-github.svg" />
            <div class="boxTitle">GitHub</div>
            <br />
            You can also find us on GitHub, feel free to collaborate in our projects
        </div>
    </a>
    </div>
    <div class="boxGroup">
    <a target="_blank" href="mailto:test@futuretalks.dev"> 
        <div class="box">
                <img class="boxImage" alt="Contact" src="./assets/icons/mention.svg" />
            <div class="boxTitle">Contact us</div>
            <br />
            For any questions, feedback or proposals
        </div>
    </a>

    <a routerLink="../private" routerLinkActive="active"> 
        <div class="box">
            <img class="boxImage" alt="Shield" src="./assets/icons/shield.svg" />
            <div class="boxTitle">Members Access</div>
            <br />
            Access to restricted content
        </div>
    </a>
    </div>
</div>

<div class ="contentBox">
    <img class="boxImage" alt="Alert" src="./assets/icons/alert.svg" /> <b>This website is currently in development</b><br />
    <p [innerHtml]="content?.text"></p>
</div>