.dog{
    max-width: 100%;
    max-height: 400px;
}

.mat-expansion-panel-header-description{
    flex-grow: 0;
}

.talkTitle{
  min-width: 30%;
}

.boxImage{
  padding-right: 10px;
  width: 15px;
}

.row{
  display: flex;
}