<h3>Talks</h3>
<mat-accordion>
<mat-expansion-panel *ngFor="let t of talks">
    <mat-expansion-panel-header>
    <mat-panel-title>
        <b>{{t?.title}}</b>
    </mat-panel-title>
    <mat-panel-description>
        {{t?.info}}
    </mat-panel-description>
    </mat-expansion-panel-header>
    <p [innerHtml]="t?.text"> </p>
</mat-expansion-panel>
</mat-accordion>

<br />

<h3>Demos</h3>
<div *ngIf="!(isHandset$ | async)" class ="contentBox">
    Watch an evolutionary algorithm learning to play flappybird:
    <iframe style="width: 615px; height: 525px" src="https://futuretalks.github.io/flappybird/"></iframe>
</div>
<div class ="contentBox">
    <p [innerHtml]="content?.text"></p>
    <img class="dog" [src]="source" (click)="getDog()"/>
</div>
