<div class="boxContainer">
    <a routerLink="../about" routerLinkActive="active"> 
        <div class="box">
            <img class="boxImage" src="./assets/icons/info.svg" />
            <div class="boxTitle">About</div>
            <br />
            Learn more about the Future Talks, our philosophy and what we do.
        </div>
    </a>

    <a target="_blank" href="https://goo.gl/forms/DMG7YCx1T8ZXZzwt1"> 
        <div class="box">
            <img class="boxImage" src="./assets/icons/organization.svg" />
            <div class="boxTitle">Become a member</div>
            <br />
            Currently, we only target members and invitees to come to our meetings, but we plan to expand.<br /><br />
            Want to become a member of Future Talks? Contact us now. 
        </div>
    </a>

    <a routerLink="../projects" routerLinkActive="active"> 
        <div class="box">
                <img class="boxImage" src="./assets/icons/beaker.svg" />
            <div class="boxTitle">Projects</div>
            <br />
            Information about our projects, our goals and progress.
        </div>
    </a>

    <a target="_blank" href="https://github.com/FutureTalks"> 
        <div class="box">
            <img class="boxImage" src="./assets/icons/mark-github.svg" />
            <div class="boxTitle">GitHub</div>
            <br />
            You can also find us on GitHub, feel free to collaborate in our projects.
        </div>
    </a>
    
    <div class ="box1">
        <p [innerHtml]="content?.text"></p>
    </div>
</div>