<div class="boxContainer">
  <a class="box" routerLink="../projects" routerLinkActive="active"> 
      <img class="boxImage" alt="Beaker" src="./assets/icons/beaker.svg" />
      <div class="boxTitle">Projects</div>
      <br />
  </a>

  <a class="box" routerLink="../about" routerLinkActive="active">
      <img class="boxImage" alt="Info" src="./assets/icons/info.svg" />
      <div class="boxTitle">About</div>
      <br />
  </a>

  <a class="box" routerLink="../private" routerLinkActive="active">
      <img class="boxImage" alt="Shield" src="./assets/icons/shield.svg" />
      <div class="boxTitle">Members</div>
      <br />
  </a>
</div>